#body {
    min-height: 100vh;
    height: 1000px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    flex:1
}


div {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    font-family: calibri, Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    flex:1
}

#header {
    background-color: rgb(172, 105, 6);
    color:black;
    flex: 0 1 0;
    font-family: OCR A Std, monospace ;
    font-size: 50px;
    flex-direction: column;
    
}

#playground {
    display:flex;
    flex-direction: column;
}

#footer {
    background-color: black;
    color:whitesmoke;
    flex: 0 1 0
}

.btn {
    height: 400px;
    width: 400px;
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex: 3;
}

.sign {
    font-size: 300px;
}

#playground .text {
    display: flex;
    flex:0;
    margin-top:20px;
    margin-bottom: 0px;
    font-size: 30px;
    
}

.round {
    display:flex;
    flex-direction: column;

}
.round .sign{
    font-size: 80px;
}

.round .btn {
    height: 100px;
    width: 100px;
}

#scoreboard {
    
    flex: 1;
    
}

#scoreboardtext {
    height: 30px;
    flex-direction: column;
    flex: 0 0 0;
}