#body {
    min-height: 100vh;
    height: 1000px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    flex:1
}


div {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    font-family: calibri, Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    flex:1
}

#header {
    background-color: rgb(172, 105, 6);
    color:black;
    flex: 1 1 0
}

